.popup-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: #2e2e2e;
  color: #00b7ff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px #00b7ff;
  z-index: 1000;
}

.popup-button:hover {
  background-color: #505050;
}

.popup-icon {
  width: 32px;
  height: 32px;
  color: #00b7ff;
}

.popup-box {
  position: fixed;
  bottom: 100px;
  left: 20px;
  width: 400px;
  background-color: rgb(43, 43, 43);
  border: 1px solid #00b7ff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.popup-box h3 {
  margin-top: 0;
  font-size: 28px;
  font-weight: lighter;
  border-bottom: 2px solid #00b7ff;
}

.popup-box p {
  margin: 0.5rem 0 0 0;
  font-size: 24px;
  font-weight: lighter;
}
.popup-box button {
  float: right;
  border: none;
  background: none;
  padding: 0;
}
.arrow-icon {
  width: 32px;
  height: 32px;
  color: #ffffff;
}
.arrow-icon:hover {
  color: #00b7ff;
}
