.popup-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: #2e2e2e;
  color: #00b7ff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px #00b7ff;
  z-index: 1000;
}

.popup-button:hover {
  background-color: #505050;
}

.popup-icon {
  width: 32px;
  height: 32px;
  color: #00b7ff;
}

.popup-box {
  position: fixed;
  bottom: 100px;
  left: 20px;
  width: 400px;
  background-color: hwb(0 17% 83%);
  border: 1px solid #00b7ff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.popup-box h3 {
  margin-top: 0;
  font-size: 28px;
  font-weight: lighter;
  border-bottom: 2px solid #00b7ff;
}

.popup-box p {
  margin: 0.5rem 0 0 0;
  font-size: 24px;
  font-weight: lighter;
}
.popup-box button {
  float: right;
  border: none;
  background: none;
  padding: 0;
}
.arrow-icon {
  width: 32px;
  height: 32px;
  color: #ffffff;
}
.arrow-icon:hover {
  color: #00b7ff;
}

.question-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: fit-content;
  background-color: #2b2b2b;
  border: 1px solid #00b7ff;
  padding: 20px;
  border-radius: 15px;
  z-index: 1001; /* keep it above overlay */
}
.question-box h3 {
  margin-top: 0;
  font-size: 28px;
  font-weight: lighter;
  border-bottom: 2px solid #00b7ff;
}

.question-box p {
  margin: 0.5rem 0 0 0;
  font-size: 24px;
  font-weight: lighter;
}
.question-box-button {
  float: right;
  border: none;
  padding: 0;
  background-color: transparent;
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* dark translucent */
  z-index: 1000; /* behind .question-box */
}

.confirm-question {
  width: 50%;
  display: block;
  margin: 0 auto;
  font-size: 24px;
  padding: 8px;
  text-align: center;
  background-color: #1a1f24;
  border-radius: 15px;
  color: #fdfbf4;
  cursor: pointer;
  border: none;
}
.confirm-question:hover {
  border: 1px solid #00b7ff;
}

.radio-input {
  display: flex;
  margin: 20px 25px;
  flex-direction: column;
  gap: 20px;
}

.radio-input * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radio-input label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 220px;
  cursor: pointer;
  height: 50px;
  position: relative;
}

.radio-input label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 45px;
  z-index: -1;
  border-radius: 10px;
  border: 2px solid transparent;
}
.radio-input label:hover::before {
  transition: all 0.2s ease;
  background-color: #505050;
}

.radio-input .label:has(input:checked)::before {
  background-color: #1a1f24;
  border-color: #00b7ff;
  height: 50px;
}
.radio-input .label .text {
  color: #fff;
}

.radio-input .label input[type="radio"] {
  background-color: #00b7ff;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-input .label input[type="radio"]:checked {
  background-color: #00b7ff;
  -webkit-animation: puls 0.7s forwards;
  animation: pulse 0.7s forwards;
}

.radio-input .label input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  transform: scale(0);
}

.radio-input .label input[type="radio"]:checked::before {
  transform: scale(1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
